@font-face {
    font-family: SUBSCRIBER-Regular; src: url(font/SUBSCRIBER-Regular.otf);
    }
    header{
        background-color: white;
        height: 150px;
        position: fixed;
        top:0;
        width: 100%;
        left: 0;
    }
    header a{
        text-decoration: none;
        color:black;
        display: block;
        padding: 0.5rem 1rem;
        font-family: SUBSCRIBER-Regular;
        letter-spacing: 3px;
        font-size:25px;
        margin-top: 34px;
        margin-right: 12px; 
    }
    .item{
        display: inline-block;
    }
    .item a:hover{
        color:#ee4a4a;
        font-size: 150%;
    }
    .encabezado{
        display: flex;
        justify-content: space-between;
    }
    .portada {
        height: 330px;
        background-image: url(image/portada.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    main{
        padding-top: 10rem;
    }
    .titulo{
        width: 100%;
        height: auto;
        text-align: center;
        letter-spacing: 4px;
        font-family: SUBSCRIBER-Regular;
    }
    .cuerpo {
        width: 100%;
        height: auto;
    }
    .imagebio {
        float: left;
        margin-left: 3%;
        margin-right: 3%;
    }
    .biografia {
        width: 95%;
        text-align: justify;
        font-family: monospace;
        font-size: 15px;
        line-height: 35px;
    }
    footer{
        width: 0 auto;
        height: 60px;
        display: block;
        clear: both;
        padding-top: 50px;
    }
    .galeria {
        margin-left: auto;
        margin-right: auto;
        border-spacing: 10px 10px; 
    }
    h2 {
        text-align: center;
        letter-spacing: 4px;
        font-family: SUBSCRIBER-Regular;
    }
    .precios, .precios tr, .precios th {
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0px 0px;
        border: solid 1px black;
        font-family: monospace;
        font-size: 15px;
    }
    .tabla {
        padding-left: 8px;
        padding-right: 8px;
        background-color: #e46a6a;
    }
    #columna1 {
        background-color:#e46a6a;
    }
    h3 {
        margin-top: 50px;
        text-align: center;
        letter-spacing: 4px;
        font-family: SUBSCRIBER-Regular;
    }
    .observaciones {
        font-family: monospace;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
    }
    h4 {
        letter-spacing: 4px;
        text-align: center;
        font-family: SUBSCRIBER-Regular;
        font-size: 24px;
    }
    h5 {
        text-align: center;
        letter-spacing: 4px;
        font-family: SUBSCRIBER-Regular;
        font-size: 35px;
    }
    h6 {
        font-family: monospace;
        font-size: 10px;
        color:gray;
        text-align: center;
    }
    #formulario {
        text-align: center;
        font-family: SUBSCRIBER-Regular;
        letter-spacing: 2.5px;
        font-size: 20px; 
    }
    #consulta {
        height: 60px;
    }
    #envioexitoso {
        padding-top: 10rem;
        color: #ee4a4a;
    }